body{
	background-image: url("../images/rpsBackground1.jpg");
}

.choice-img{
	height: 150px;
	margin: 10px;
}

.choice-panel{
	margin-top: 100px;
}

.title{
	font-size: 30px; 
}

.stats{
	font-size: 24px;
}